{% extends "base.html" %}

{% block title %} Удаление курса {% endblock %}

{% block content %}
    <div class="container mt-3">
        <h2>Курс "{{ course.name }}"</h2>

        <div class="alert alert-warning" role="alert">
          Вы уверены, что хотите <strong>удалить</strong> курс?
        </div>

         <form method="post">
             {% csrf_token %}
             <a href="/" class="btn btn-primary btn-md">Нет</a>
             <button class="btn btn-red btn-md">Удалить</button>
        </form>
    </div>
{% endblock %}